html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mdl-card {
    width: 100%;
    margin-bottom: 6px;
}

h3 a {
    text-decoration: none;
    color: white;
}


.post-title
{
  margin-left: 1em;
  line-height: 1;
  font-size: 20pt;
}

.post-meta
{
  margin-left: 1em;
  line-height: 1;
  font-size: 8pt;
}