html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mdl-card {
    width: 100%;
    margin-bottom: 6px;
}

h3 a {
    text-decoration: none;
    color: white;
}

.post-title
{
  font-size: 16pt;
}

.post-meta
{
  font-size: 10pt;
}