html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mdl-card {
    width: 100%;
    margin-bottom: 6px;
}

h3 a {
    text-decoration: none;
    color: white;
}


.post-title
{
  margin-left: 1em;
  line-height: 1;
  font-size: 20pt;
}

.post-meta
{
  margin-left: 3em;
  line-height: 1;
  font-size: 8pt;
}

.post-content
{
  margin-left: 2em;
  margin-right: 2em;
  font-size: 14pt;
}

.socicon-facebook
{
  font-size: 19px;
}

.socicon-twitter
{
  font-size: 20px;
}

.age {
    border: 1px solid #999;
    color: #999;
    font-size: 30px;
    line-height: 49px;
    display: inline-block;
    border-radius: 29px;
    padding: 2px;
    margin-right: 7px;
    margin-top: 20px;
}

.social-likes {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

#disqus_thread {
  margin: 30px;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.post-date {
    margin-left: 20px;
}

.post-list-image {
  display: block;
  max-width: 400px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

img {
  display: block;
  max-width: 800px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}