<!-- header -->
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <div class="mdl-layout__header-row">
                <!-- заголовок -->
                
                <button class="mdl-button mdl-js-button mdl-button--icon"
                onclick="window.location.href='/'">
                  <i class="material-icons">arrow_back</i>
                </button>

                <h3>{{ site.title }}</h3>
                
            </div>
            
        </header>