<!-- footer -->
<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--bottom-section">
        <!--
        <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
        -->
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--7-col">
                
                <p>
                    © JohnBel 2018  
                    <br />
                    Для нормального отображения сайта необходимо пользоваться современными версиями веб-браузеров.<br />
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="/js/social-likes.min.js" async></script>