<div class="pagination">
  {% if paginator.previous_page %}
  <button class="mdl-button mdl-js-button">
    <a href="{{ paginator.previous_page_path }}" class="previous">
      <i class="material-icons">arrow_back</i>
    </a>
  </button>
  {% else %}
  <button class="mdl-button mdl-js-button" disabled>
      <i class="material-icons">arrow_back</i>
  </button>
  {% endif %}
  <span class="page_number ">Стр: {{ paginator.page }} из {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <button class="mdl-button mdl-js-button">
      <a href="{{ paginator.next_page_path }}" class="next">
        <i class="material-icons">arrow_forward</i>
      </a>
    </button>
  {% else %}
    <button class="mdl-button mdl-js-button" disabled>
        <i class="material-icons">arrow_forward</i>
    </button>
  {% endif %}
</div>  