 <!--noindex-->
<span>
    <a rel="nofollow" href="http://feeds.feedburner.com/novosti-android" target="blank" title="Подписаться на ленту RSS" class="material-icons">
        <i class="material-icons">rss_feed</i>
    </a> 
    <a rel="publisher" href="https://plus.google.com/108041234190982647449" target="blank" title="Читать новости в Google+" class="material-icons">
        <i class="material-icons socicon-googleplus"></i>
    </a> 
    <a rel="nofollow" href="https://www.facebook.com/novostiandroid" target="blank" title="Читать новости в Facebook" class="material-icons">
        <i class="material-icons socicon-facebook"></i>
    </a>
    <a rel="nofollow" href="https://twitter.com/Novosti_Android" target="blank" title="Читать новости в Twitter" class="material-icons">
        <i class="material-icons socicon-twitter"></i>
    </a>
    <a rel="nofollow" href="http://vk.com/novosti.android" target="blank" title="Читать новости ВКонтакте" class="material-icons">
        <i class="material-icons socicon-vkontakte"></i>
    </a> 
</span> 
<!--/noindex-->